﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - DotNetStarter</title>
    <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true" />
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/dist/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
